name: Rust CI checks
on:
  push:
    branches: ["main"]
  pull_request_target:

jobs:
  lint:
    name: Run lint checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # This prevents the Action from persisting the credentials it uses to
          # perform the fetch/checkout to the Runner's local Git config. On
          # `pull_request_target` events, the GITHUB_TOKEN provided to the
          # Runner has Write permissions to the base repository. We do **not**
          # want to allow untrusted code from forks to execute arbitrary Git
          # commands with those elevated permissions.
          #
          # More info:
          # https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/#improvements-for-public-repository-forks
          persist-credentials: false
          # Explicitly setting the `repository` and `ref` inputs ensures that
          # `pull_request_target` events trigger CI runs against the code from
          # the HEAD branch. By default, this Action checks out code from the
          # BASE branch. On `push` events, the `github.event.pull_request` path
          # will yield a null value, and passing nulls to these inputs causes
          # them to fall back to the defaults
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Check Rust formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Check clippy
        uses: actions-rs/clippy-check@v1
        with:
          args: --all-features --all-targets -- -D warnings

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # This prevents the Action from persisting the credentials it uses to
          # perform the fetch/checkout to the Runner's local Git config. On
          # `pull_request_target` events, the GITHUB_TOKEN provided to the
          # Runner has Write permissions to the base repository. We do **not**
          # want to allow untrusted code from forks to execute arbitrary Git
          # commands with those elevated permissions.
          #
          # More info:
          # https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/#improvements-for-public-repository-forks
          persist-credentials: false
          # Explicitly setting the `repository` and `ref` inputs ensures that
          # `pull_request_target` events trigger CI runs against the code from
          # the HEAD branch. By default, this Action checks out code from the
          # BASE branch. On `push` events, the `github.event.pull_request` path
          # will yield a null value, and passing nulls to these inputs causes
          # them to fall back to the defaults
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}      
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Run test
        run: cargo test --all-targets --all-features

  bench:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-bench-${{ hashFiles('**/Cargo.lock') }}      
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Run benchmark
        run: cargo bench -- --output-format bencher | tee output.txt
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: bench_result.txt
          path: output.txt

  # Split the benchmark testing step into a separate
  # step that runs with no checked-out code and access to secrets
  bench-check:
    name: Check benchmark result
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: bench_result.txt
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Rust Benchmark
          tool: "cargo"
          output-file-path: bench_result.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          alert-threshold: "150%"
          # Only push and save on pushes to main.
          auto-push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          # Comment on pushes to main AND on any commit that includes `[bench]`
          # in the message.
          comment-always: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || contains(steps.head_commit.outputs.message, '[bench]') }}
          save-data-file: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
